<div class='panel panel-primary' *ngIf='ingredientInShop'>
  <div class='panel-heading'>
    <h3>ingredientInShop Details</h3>
    <div>Ingredient Id: {{ingredientInShop.ingredientId}}</div>
    <div>Ingredient Name: {{ingredientInShop.ingredientName}}</div>
    <div>Shop Id: {{ingredientInShop.shopId}}</div>
    <div>Shop name: {{ingredientInShop.shopName}}</div>
    <div>Name: {{ingredientInShop.name}}</div>
    <div>Price: {{ingredientInShop.price}}</div>
    <div>Unit: {{ingredientInShop.unit}}</div>
    <div>Quantity: {{ingredientInShop.quantity}}</div>
  </div>
</div>

<a class='btn btn-default' [routerLink]="['/ingredientsinshops']">Back</a>
<a class='btn btn-success' [routerLink]="['/ingredientsinshops/edit', ingredientInShopId]">Edit</a>