<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h3>ingredientInShop List</h3>
  </div>
</div>
<div class='row'>
    <div class='col-md-2'>Filter by:</div>
    <div class='col-md-4'>
        <input type=text 
        [(ngModel)]='listFilter'/>
    </div>
</div>
<div class='table-responsive'>
  <table class='table' *ngIf='filteredIngredientsInShops && filteredIngredientsInShops.length'>
    <thead class="centeredText">
      <tr>
        <th class="col-xs-1">ingredientInShop id</th>
        <th>ingredientInShop name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let ingredientInShop of filteredIngredientsInShops'>
        <td> {{ingredientInShop.id}}</td>
        <td> {{ingredientInShop.name}}</td>
        <td><a [routerLink]="['/ingredientsinshops', ingredientInShop.id]">Details</a></td>
        <td><a [routerLink]="['/ingredientsinshops/edit', ingredientInShop.id]">Edit</a></td>
        <td><a [routerLink]="['/ingredientsinshops/delete', ingredientInShop.id]">Delete</a></td>
      </tr>
    </tbody>
  </table>
</div>
<a [routerLink]="['/ingredientsinshops/create']">Create ingredientInShop</a>