<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <a class="btn btn-default btnMargined" [routerLink]="['recipes']">Recipes</a>
  <a class="btn btn-default btnMargined" [routerLink]="['ingredients']">Ingredients</a>
  <a class="btn btn-default btnMargined" [routerLink]="['shops']">Shops</a>
  <a class="btn btn-default btnMargined" [routerLink]="['ingredientsinshops']">Ingredients in shops</a>
  <a class="btn btn-default btnMargined" [routerLink]="['tests']">Tests</a>
</div>

<div class='container mycontainer'>
  <!-- My recipe list<br /> -->
  <!-- <recipe-list></recipe-list> -->
  <router-outlet></router-outlet>
</div>

