<div class='panel panel-primary'>
  <div class='panel-heading'>
    <h3>ingredient List</h3>
  </div>
</div>
<div class='table-responsive'>
  <table class='table' *ngIf='ingredients && ingredients.length'>
    <thead class="centeredText">
      <tr>
        <th class="col-xs-1">ingredient id</th>
        <th>ingredient name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let ingredient of ingredients'>
        <td> {{ingredient.id}}</td>
        <td> {{ingredient.ingredientName}}</td>
        <td><a [routerLink]="['/ingredient', ingredient.id]">Details</a></td>
        <td><a [routerLink]="['/ingredient/edit', ingredient.id]">Edit</a></td>
        <td><a [routerLink]="['/ingredient/delete', ingredient.id]">Delete</a></td>
      </tr>
    </tbody>
  </table>
</div>
<a [routerLink]="['/ingredients/create']">Create ingredient</a>